<div class="row">
    <div class="col-md-5">
        <div class="card">
            <div class="card-body text-center">
                <h1 class="text-parimary">Total Students</h1>
                <br>
                <h1><%= @students %></h1>
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="card">
            <div class="card-body text-center">
                <h1 class="text-parimary">Total Units</h1>
                <br>
                <h1><%= @units %></h1>
            </div>
        </div>
    </div>
</div>